/* .react-quill.dark .ql-toolbar,
.react-quill.dark .ql-container {
  background-color: #1f2937;
  color: white;
  border-color: #374151;   
}

.react-quill.dark .ql-toolbar button {
  color: white;
}

.react-quill.dark .ql-toolbar button:hover {
  background-color: #374151;
}

.react-quill.dark .ql-container .ql-editor {
  color: white;
}

.react-quill.dark .ql-picker {
  color: white;
} */
